---
import Blog from "../components/Blog.astro";
import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar.astro";
import Layout from "../layouts/Layout.astro";

import blogImg from '../assets/images/blog/blog1.jpg'
import client from '../assets/images/client/04.jpg'
---

<Layout>
    <Navbar/>

    <section class="py-28 w-full table relative bg-[url('../../assets/images/bg/auth.jpg')] bg-top bg-no-repeat">
        <div class="absolute inset-0 bg-slate-950/80"></div>

        <div class="container">
            <div class="grid grid-cols-1 pb-8 mt-10 text-center">
                <h3 class="mt-10 mb-3 text-3xl font-medium leading-normal text-white">Introducing new tools for your design.</h3>

                <ul class="mt-6 list-none">
                    <li class="inline-block mx-5 text-white/50"> <span class="block text-white">Client :</span> <span class="block">Calvin Carlo</span></li>
                    <li class="inline-block mx-5 text-white/50"> <span class="block text-white">Date :</span> <span class="block">15th August 2023</span></li>
                    <li class="inline-block mx-5 text-white/50"> <span class="block text-white">Time :</span> <span class="block">8 Min Read</span></li>
                </ul>
            </div>
        </div>
    </section>

    <section class="relative py-16 md:py-24">
        <div class="container pb-16 md:pb-24">
            <div class="grid md:grid-cols-12 grid-cols-1 gap-[30px]">
                <div class="lg:col-span-8 md:col-span-6">
                    <div class="p-6 rounded-md shadow-sm dark:shadow-gray-800">

                        <img src={blogImg.src} class="rounded-md" alt="">

                        <div class="mt-6">
                            <p class="text-slate-400">The most well-known dummy text is the 'Lorem Ipsum', which is said to have originated in the 16th century. Lorem Ipsum is composed in a pseudo-Latin language which more or less corresponds to 'proper' Latin. It contains a series of real Latin words. This ancient dummy text is also incomprehensible, but it imitates the rhythm of most European languages in Latin script.</p>
                            <p class="p-3 mt-3 italic border-blue-600 text-slate-400 border-x-4 rounded-ss-xl rounded-ee-xl">" There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. "</p>
                            <p class="mt-3 text-slate-400">The advantage of its Latin origin and the relative meaninglessness of Lorum Ipsum is that the text does not attract attention to itself or distract the viewer's attention from the layout.</p>
                        </div>
                    </div>

                    <div class="p-6 mt-8 rounded-md shadow-sm dark:shadow-gray-800">
                        <h5 class="text-lg font-semibold dark:text-white">Leave A Comment:</h5>

                        <form class="mt-8">
                            <div class="grid gap-6 lg:grid-cols-12">
                                <div class="lg:col-span-6">
                                    <input name="name" id="name" type="text" class="w-full h-10 px-3 py-2 border border-gray-200 rounded outline-none form-input dark:border-gray-800 focus:ring-0 focus:border-blue-600/50 dark:bg-slate-900 dark:text-slate-200" placeholder="Name :">
                                </div>

                                <div class="lg:col-span-6">
                                    <input name="email" id="email" type="email" class="w-full h-10 px-3 py-2 border border-gray-200 rounded outline-none form-input dark:border-gray-800 focus:ring-0 focus:border-blue-600/50 dark:bg-slate-900 dark:text-slate-200" placeholder="Email :">
                                </div><!--end col-->

                                <div class="lg:col-span-12">
                                    <textarea name="comments" id="comments" class="w-full px-3 py-2 border border-gray-200 rounded outline-none form-input dark:border-gray-800 focus:ring-0 focus:border-blue-600/50 dark:bg-slate-900 dark:text-slate-200 h-28 textarea" placeholder="Message :"></textarea>
                                </div>

                                <div class="lg:col-span-12">
                                    <button type="submit" id="submit" name="send" class="flex items-center justify-center text-white bg-green-600 border-blue-600 rounded-md btn hover:bg-green-700 hover:border-blue-700 h-11">Send Message</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="lg:col-span-4 md:col-span-6">
                    <div class="sticky top-20">
                        <h5 class="p-2 text-lg font-medium text-center rounded-md shadow-sm bg-gray-50 dark:bg-slate-800 dark:shadow-gray-800 dark:text-white">Author</h5>
                        <div class="mt-8 text-center">
                            <img src={client.src} class="mx-auto mb-4 rounded-full shadow-sm size-24" alt="">

                            <a href="" class="text-lg font-medium transition-all duration-500 ease-in-out hover:text-green-600 h5 dark:text-white">Cristina Romsey</a>
                            <p class="text-slate-400">Content Writer</p>
                        </div>

                        <h5 class="p-2 mt-8 text-lg font-medium text-center rounded-md shadow-sm bg-gray-50 dark:bg-slate-800 dark:shadow-gray-800 dark:text-white">Social sites</h5>
                        <ul class="mt-8 text-center list-none">
                            <li class="inline"><a href="" class="inline-flex items-center justify-center text-base font-normal tracking-wide text-center align-middle transition duration-500 ease-in-out border border-gray-100 rounded-md size-8 dark:border-gray-800 text-slate-400 hover:border-blue-600 hover:text-white hover:bg-green-600"><i class="align-middle uil uil-dribbble"></i></a></li>
                            <li class="inline"><a href="" class="inline-flex items-center justify-center text-base font-normal tracking-wide text-center align-middle transition duration-500 ease-in-out border border-gray-100 rounded-md size-8 dark:border-gray-800 text-slate-400 hover:border-blue-600 hover:text-white hover:bg-green-600"><i class="align-middle uil uil-behance"></i></a></li>
                            <li class="inline"><a href="" class="inline-flex items-center justify-center text-base font-normal tracking-wide text-center align-middle transition duration-500 ease-in-out border border-gray-100 rounded-md size-8 dark:border-gray-800 text-slate-400 hover:border-blue-600 hover:text-white hover:bg-green-600"><i class="align-middle uil uil-linkedin"></i></a></li>
                            <li class="inline"><a href="" class="inline-flex items-center justify-center text-base font-normal tracking-wide text-center align-middle transition duration-500 ease-in-out border border-gray-100 rounded-md size-8 dark:border-gray-800 text-slate-400 hover:border-blue-600 hover:text-white hover:bg-green-600"><i class="align-middle uil uil-facebook-f"></i></a></li>
                            <li class="inline"><a href="" class="inline-flex items-center justify-center text-base font-normal tracking-wide text-center align-middle transition duration-500 ease-in-out border border-gray-100 rounded-md size-8 dark:border-gray-800 text-slate-400 hover:border-blue-600 hover:text-white hover:bg-green-600"><i class="align-middle uil uil-instagram"></i></a></li>
                            <li class="inline"><a href="" class="inline-flex items-center justify-center text-base font-normal tracking-wide text-center align-middle transition duration-500 ease-in-out border border-gray-100 rounded-md size-8 dark:border-gray-800 text-slate-400 hover:border-blue-600 hover:text-white hover:bg-green-600"><i class="align-middle uil uil-twitter"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

       <!--  <Blog/> -->

        <div class="container mt-16 lg:mt-24">
            <div class="grid grid-cols-1 text-center">
                <h3 class="mb-6 text-xl font-medium md:text-2xl dark:text-white">Have Question ? Get in touch!</h3>

                <p class="max-w-xl mx-auto text-slate-400">This is just a simple text made for this unique and awesome template, you can replace it with any text.</p>
            
                <div class="mt-6">
                    <a href="/contactus" class="inline-block px-5 py-2 text-base font-normal tracking-wide text-center text-white align-middle transition duration-500 ease-in-out bg-green-600 border border-blue-600 rounded-md hover:bg-green-700 hover:border-blue-700"><i class="align-middle uil uil-phone me-2"></i> Contact us</a>
                </div>
            </div>
        </div>
    </section>

    <Footer/>

</Layout>