---
import Layout from "../layouts/Layout.astro";

import logo from '../assets/images/logo-light.png'

const year = new Date().getFullYear()

---

<Layout>
    <section class="position-relative bg-[url('../../assets/images/bg/auth.jpg')] bg-center bg-cover">
        <div class="absolute inset-0 bg-black opacity-90"></div>
        <div class="container-fluid relative">
            <div class="grid grid-cols-1">
                <div class="lg:col-span-4">
                    <div class="flex flex-col min-h-screen md:px-12 py-12 px-3">
                        <div class="text-center mx-auto">
                            <a href="/"><img src={logo.src} alt=""></a>
                        </div>

                        <div class="text-center my-auto">
                            <div class="w-full max-w-sm m-auto px-6 py-8 bg-white dark:bg-slate-900 rounded-md shadow-lg shadow-slate-500 dark:shadow-slate-800">
                                <div class="grid grid-cols-1">
                                    <h5 class="mb-8 text-xl dark:text-white font-semibold">Reset Your Password</h5>
                                    <p class="text-slate-400 mb-6">Please enter your email address. You will receive a link to create a new password via email.</p>
                                    <form class="ltr:text-left rtl:text-right">
                                        <div class="grid grid-cols-1">
                                            <div class="mb-4">
                                                <label class="dark:text-white" for="LoginEmail">Email Address:</label>
                                                <input id="LoginEmail" type="email" class="form-input w-full py-2 px-3 border border-gray-200 dark:border-gray-800 focus:ring-0 focus:border-blue-600/50 dark:bg-slate-900 dark:text-slate-200 rounded h-10 outline-none mt-3" placeholder="name@example.com">
                                            </div>

                                            <div class="mb-4">
                                                <a href="" class="btn bg-green-400 hover:bg-green-700 border-blue-600 hover:border-blue-700 text-white rounded-md w-full">Send</a>
                                            </div>

                                            <div class="text-center">
                                                <span class="text-slate-400 me-2">Remember your password ? </span><a href="/login" class="text-dark fw-bold">Sign in</a>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <div class="text-center">
                            <p class="text-gray-400">© {year} deniz. Design with <i class="mdi mdi-heart text-green-700"></i> by <a href="https://Limber.in/" target="_blank" class="text-reset">Limber</a>.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</Layout>