---
import { partnerData } from "../data";
---

<div class="container mt-12">
    <div class="grid md:grid-cols-6 grid-cols-2 justify-center gap-8">
        {partnerData.map((item)=>( 
            <div class="mx-auto">
                <img src={item.src} class="h-[50px]" alt=""/>
            </div>
        ))}
    </div>
</div>